<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TrappficSmart</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="Libreries/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Styles/Creditos.css">
    <link rel="stylesheet" href="Styles/InfoParqueadero.css">
    <link rel="stylesheet" href="Styles/Login.css">
    <link rel="stylesheet" href="Styles/NoFound.css">
    <link rel="stylesheet" href="Styles/Perfil.css">
    <link rel="stylesheet" href="Styles/Principal.css">
    <link rel="stylesheet" href="Styles/RecuperarContraseña.css">
    <link rel="stylesheet" href="Styles/Registro.css">
    <link rel="stylesheet" href="Styles/Trapp-card.css">
    <link rel="stylesheet" href="Styles/Trapp-header-mobile.css">
    <link rel="stylesheet" href="Styles/Trapp-header-pc.css">
    <link rel="stylesheet" href="Styles/Trapp-info-tiempo.css">
    <link rel="stylesheet" href="Styles/Trapp-input.css">
    <link rel="stylesheet" href="Styles/Trapp-li-info.css">
    <link rel="stylesheet" href="Styles/Trapp-li-nav.css">
    <link rel="stylesheet" href="Styles/Trapp-map.css">
    <link rel="stylesheet" href="Styles/Trapp-member.css">
    <link rel="stylesheet" href="Styles/Trapp-nav-mobile.css">
    <link rel="stylesheet" href="Styles/Trapp-nav-pc.css">
</head>

<body>
    <div id="app" class="container-fluid" >

        <div>
            <h1>
                Trapp-nav-mobile-y-pc
            </h1>
            <trapp-nav-mobile :trapp_li_nav="Strings.trapp_li_nav" ></trapp-nav-mobile>
            <br>
        </div>
        <div>
            <h1>
                Trapp-card
            </h1>
            <trapp-card
            :titulo="'Trappfic Smart'" :texto="'Somos un equipo que se esmera porque los residentes y turistas puedan disfrutar del pueblo'">
            </trapp-card>
            <br>
        </div>
        <div>
            <h1>
                Trapp-header-mobile
            </h1>
            <trapp-header-mobile></trapp-header-mobile>
            <br>
        </div>
        <div>
            <h1>
                Trapp-header-pc
            </h1>
            <trapp-header-pc :icono="Strings.trapp_header['icono']" :texto="Strings.trapp_li_nav['texto']"></trapp-header-pc>
            <br>
        </div>
        <div>
            <h1>
                Trapp-info-tiempo
            </h1>
            <trapp-info-tiempo></trapp-info-tiempo>
            <br>
        </div>
        <div>
            <h1>
                Trapp-input
            </h1>

            <trapp-input :item="Strings.trapp_input['Nombre']"></trapp-input>
            <trapp-input :item="Strings.trapp_input['Correo']"></trapp-input>
            <trapp-input :item="Strings.trapp_input['Telefono']"></trapp-input>
            
        </div>
        <div v-for="item in String.Trapp_li_info">
            <h1>
                Trapp-li-info
            </h1>
            <trapp-li-info :nombre="item.nombre" :telefono="item.telefono" :correo="item.correo"></trapp-li-info>
            <br>
        </div>
        <div>
            <h1>
                Trapp-li-nav
            </h1>
            <trapp-li-nav  v-for="item in Strings.trapp_li_nav" :icono="item
            .icono" :texto="item.texto"></trapp-li-nav>
            <br>
        </div>
        <div>
            <h1>
                Trapp-map
            </h1>
            <trapp-map></trapp-map>
            <br>
        </div>
        <div>
            <h1>
                Trapp-member
            </h1>
            <trapp-member   v-for="item in Strings.Trapp_member" :icono="item
            .icono" :miembro="item.miembro" :rol="item.rol"></trapp-member>
            <br>
        </div>
    </div>




    <script>
        window.onload = function () {
            if (window.jQuery) {
                $(document).ready(function () { $(".sidebarNavigation .navbar-collapse").hide().clone().appendTo("body").removeAttr("class").addClass("sideMenu").show(); $("body").append("<div class='overlay'></div>"); $(".navbar-toggle, .navbar-toggler").on("click", function () { $(".sideMenu").addClass($(".sidebarNavigation").attr("data-sidebarClass")); $(".sideMenu, .overlay").toggleClass("open"); $(".overlay").on("click", function () { $(this).removeClass("open"); $(".sideMenu").removeClass("open") }) }); $("body").on("click", ".sideMenu.open .nav-item", function () { if (!$(this).hasClass("dropdown")) { $(".sideMenu, .overlay").toggleClass("open") } }); $(window).resize(function () { if ($(".navbar-toggler").is(":hidden")) { $(".sideMenu, .overlay").hide() } else { $(".sideMenu, .overlay").show() } }) })
            } else { console.log("sidebarNavigation Requires jQuery") }
        }
    </script>



    <script src="Libreries/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="Libreries/bootstrap/js/bootstrap.min.js"></script>
    <script src="globals/Strings.js"></script>
    <script src="Libreries/Vue/vue.js"></script>
    <script src="components/Trapp-card.js"></script>
    <script src="components/Trapp-header-mobile.js"></script>
    <script src="components/Trapp-header-pc.js"></script>
    <script src="components/Trapp-info-tiempo.js"></script>
    <script src="components/Trapp-input.js"></script>
    <script src="components/Trapp-li-info.js"></script>
    <script src="components/Trapp-li-nav.js"></script>
    <script src="components/Trapp-map.js"></script>
    <script src="components/Trapp-member.js"></script>
    <script src="components/Trapp-nav-mobile.js"></script>
    <script src="components/Trapp-nav-pc.js"></script>
    <script src="main.js"></script>

</body>

</html>