

form {
	background: #fff;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
	position: relative;
	top:;
	bottom:;
	right:;

	

}

h3{
	background: #1668c4;

	height: 90%;
	padding: 10px;
	text-align: center;
	color: #fff;
	position: relative;
	

}

h1 {
    background:#1668c4;
    width: 79.5%;
	padding: 20px;
	text-align: center;
	color: #fff;
	position: relative;
	top: 10px;
	font-size: 40px;

}
label{
	font-size: 15px;
display: block;;

}

input {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
 .condiciones {
	width: 10%;

}
input:focus {
	border: 1px solid blue;
}

input[type= "submit"]{
	margin-bottom: 0;
	background: #1668c4;
	color: #fff;
	border: none

}
input[type= "submit"]:hover{
	background: #4a88f4;
	cursor: pointer;

}



