.credi{
    font-size: 50px; 
    color: whitesmoke;
    text-align: center;
}
.container1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px; 
    overflow: hidden;
    background: rgba(0, 0, 0, 0.589);
}
.center{
    background-repeat: repeat;
    text-align: center;
}
.rol1{
    color: white;
    padding: 30px 30px;
}