
div.container
{
    padding:10px;
    align-self: center;
}
h2.textocrono
{
    color:#FFF;
    font-family: "Lato",sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin:0;
}
.cronometro
{
    background-color: rgba(0, 0, 0, 1.0)
}
.info
{    
    padding-top: 50px;
    padding-left: 20px;
}
.reloj
{
    padding-top: 50px;
    padding-bottom: 20px;
}
.textocrono
{
    width: 100%;
    text-align: center;
}
.pre
{
    align-content: center;
    text-align: center;
}
h2.counter1
{
    color:#FFF;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right:auto;			
    margin-top:0px;
    text-shadow:4px 4px #007A7A;
}
h2.counter
{
    color:#FFF;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right:auto;
    margin-top:0px;
    text-shadow:4px 4px #007A7A;
}
h2.counter:before
{
    content: ": ";
    position: relative;
    right: 0.1em;
}
.de
{
    color: rgba(255, 255, 255, 0.7);
}
.inline-block
{
    display:inline-block;
}
.block
{
    display: block;
}
@media screen and (min-width: 1024px){
    .reloj
    {
       padding-left: 85px;
    }
}
@media screen and (min-width: 600px){
    .reloj
    {
       padding-left: 85px;
    }
}