body
{
    margin: 0;
    padding: 0;
    background: url(../Assets/traffic.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    font-family: sans-serif;
    position: absolute;
}
.loginBox i[class="fas fa-user"],
.loginBox i[class="fas fa-unlock"]
{
    color: #fff;
}
.loginBox
{   
    position: fixed; 
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    margin: 320px auto;
    outline: none;
}
.user
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(35%);
}
h2
{
    margin: 0;
    padding: 0 0 20px;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}
.loginBox label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;

}
.loginBox input
{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
::-webkit-input-placeholder
{
    color: white;
}
::-moz-placeholder
{
    color: white;
}
.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
.loginBox a
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.loginBox a :hover
{
    color: yellow;
}

