.miembros {
	width: 80px;
	height: 80px;
	display: block;
	border-radius : 50%;
	border: 1px solid rgba(0, 0, 0,.5);
	;
}
.tx {
	position:relative;
	bottom: 40px;
	left: 70px;
}
.titulo{
	position: relative;
	right: 37%;
	color: yellow;
}
.rol{
	color: white;
}
hr{
	color: rgba(245, 245, 220, 0.288);
}