.miembros {
	width: 70px;
	height: 70px;
	display: block;
	border-radius : 50%;
	border: 1px solid #000;
}
.tx {
	position:relative;
	top: ;
	bottom: 40px;
	right: ;
	left: 70px;
}
.titulo{
	position: relative;
	top:10px ;
	bottom: ;
	right: ;
	left: ;
}